@font-face {
  font-family: "DreamerTM";
  src: url("https://cdn.jsdelivr.net/gh/nndmk/assets/DreamerTM@main/DreamerTM-Regular.woff2") format("woff2"),
       url("https://cdn.jsdelivr.net/gh/nndmk/assets/DreamerTM@main/DreamerTM-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
