@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-BoldItalic.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Italic.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-LightItalic.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-MediumItalic.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Medium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/nndmk/assets@main/Neue-Montreal/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
